#Pycache's
__pycache__/
lib/__pycache__/
lib/uger/__pycache__/
lib/uger/coder/__pycache__/
lib/uger/editor/__pycache__/
lib/uger/savehandling/__pycache__/


#Projects and Builds
projects/
dist/

#Logs
logs/