#Pycache's
__pycache__/
lib/__pycache__/
lib/uger/__pycache__/
lib/uger/coder/__pycache__/
lib/uger/editor/__pycache__/
lib/uger/savehandling/__pycache__/


#Anything that changes dynamicly
projects/
dist/
lib/build/b.py

#Unimportant pyfiles
build.py

#Logs
logs/

#Files because im lazy:
batch/

#Spec files
*.spec